


.addbutton {
    background-color: rgb(8, 101, 232);
    color: white;
    padding: 6px 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
    border: none;
}

.addbutton:hover {
    background-color: rgb(7, 88, 200);
}